.budget__income {
  margin-bottom: 10px;
  background-color: #28b9b5;
  display: flex;
  justify-content: space-between;
  padding: 12px;
  text-transform: uppercase;
}

.budget__income--text {
  font-size: 13px;
  color: #444;
  margin-top: 2px;
}

.budget__income--value {
  letter-spacing: 1px;
}

.budget__income--percentage {
  width: 34px;
  font-size: 11px;
  padding: 3px 0;
  margin-left: 10px;
}

.right {
  display: flex;
}